:root {
	--grey400: #858585;
	--white: #ffffff;
	--grey100: #131313;
	--grey500: #cacaca;
	--greyDark: #5F5F5F;
}

* {
    margin: 0;
    padding: 0;
}

body, html {
	background-color: #000;
    height: 100%;
}

body {
	
}

.logo {
	height: 18px;
    width: 36px;
	position: relative;
    margin-bottom: 3em;
}

/* .logo:hover>.logo-square {
	transform: translateX(7px) rotate(90deg);
}

.logo:hover>.logo-triangle {
	transform: translateX(26.5px) rotate(90deg);
} */

.logo-circle {
	height: 18px;
	width: 18px;
	background-color: var(--grey400);
	border-radius: 9px;
	left: 0px;
}

.logo-square {
	height: 18px;
	width: 18px;
	background-color: var(--grey500);
	left: 9px;
	/* transition: all 1.2s cubic-bezier(0.25, 0.10, 0.00, 1.00); */
}

.logo-triangle {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 9px 18px 9px;
	border-color: transparent transparent var(--white) transparent;
	left: 18px;
	/* transition: all 1.2s cubic-bezier(0.25, 0.10, 0.00, 1.00) .1s; */
}

.logo-circle, .logo-square, .logo-triangle, .logo-square-bg {
	position: absolute;
}

.content {
	width: 45vw;
	padding-left: 4em;
	padding-top: 4em;
	
    
}

.content p {
	/* font-family: "nitti-grotesk-light", sans-serif;
	font-weight: 400;
	font-style: normal; */
	font-family: "nitti-grotesk", sans-serif;
	font-weight: 500;	
	font-style: normal;	
	color: var(--greyDark);
	font-size: 32px;
    line-height: 145%;
	margin-bottom: 1em;
}

p > span {
	color: white;
	text-decoration: underline;
}

a {
    color: var(--white);
}
